body {
    background-color: #EED8AE;
}

.main_picture img {
    max-width: 100%;
    height: auto;
    opacity: 0.7;
}

.main_part {
    padding-top: 5%;
    margin: 0 auto;
    width: 80%;
    height: 500px;
}
.contact_info {
    float: left;
    display: inline;
    width: 50%;
    padding-bottom: 1%;
}

.submit_form {
    float: left;
    display: inline;
    width: 50%;
    padding-bottom: 1%;
}

iframe {
    max-width: 100%;
    height: auto; 
}