body {
    background-color: #E8E8E8;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #101010;
    height: 80px;
    width: 100%;
}

header .row {
    margin: 0 auto;
    max-width: 1040px;
    height: 80px;
}

header .header_content {
    padding: 0 4%;
    height: 80px;
    float: left;
    width: 100%;
    position: relative;
}

header nav {
    display: block;
    padding-top: 20px;
    width: auto;
    position: static;
    margin-right: 0;
    float: right;
}

header li {
    display: inline;
}


header nav li a {
    margin-left: 40px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    
}

header nav li a:hover {
    color: grey;
}
#logo {
    float: left;
    display:block;
    margin-right: 10px;
    margin-top: 25px;
    padding-left: 1%;
}


.home {
    position: relative;
    padding:0;
    width: 100%;
    
}

.home img {
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}

.home h1 {
    position: absolute; 
    left: 125px; 
    top: 125px;
    color: black;
    
}

#contact_me {
    position: absolute;
    left: 44%;
    top: 75%;
    background-color: rgba(128, 128, 128, 0.6);
    font-size: 15px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    border-color: black;
    border: 2px solid;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 1em 1.75em;
    display: inline-block;
    line-height: 1em;
    margin: 10px 0;
}

#contact_me:hover,
#contact_me:focus,
#contact_me:active {
    transform: scale(1.1);
}
.social {
    visibility: hidden;
    float:right;
    display: block;
    width: 0;
    padding-right: 1%;
    
}


.arrow_down {
    margin: 0 auto;
    width: 1.5em;
    height: 1.5em;
    border-right: 0.2em solid black;
    border-bottom: 0.2em solid black;
    transform: rotate(45deg);
}

.arrow_down:hover,
.arrow_down:focus,
.arrow_down:active 
.arrow_down:rotate(45deg){
    transform: scale(1.1);
}
@media screen and (min-width: 800px) {
    .social {
        visibility: visible;
        float: right;
        list-style: none;
        margin: 25px 0 0 0;
        display:block;
        width: auto;
    }

    header nav {
        margin-right: 20%;
    }
}


.main_info {
    position: relative;
}

.main_info h2 {
    padding-top: 5%;
    font-family: 'Poiret One', serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.main_info p {
    font-family: 'Hind', sans-serif;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

#main_photo {
    margin:0 auto;
    display: block;
    opacity: 0.8;
}

#learn_more {
    width: 200px;
    background-color: transparent;
    font-size: 13px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    border-color: black;
    border: 1.5px solid;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 1em 0.8em;
    display: block;
    line-height: 1em;
    margin:  30px auto 30px auto;
    text-align: center;
}

#learn_more:hover,
#learn_more:focus,
#learn_more:active
{
    transform: scale(1.1);
}




footer {
    background-color: #101010;
    height: 80px;
    width: 100%;
}

.row_footer {
    margin: 0 auto;
    max-width: 1040px;
    height: 80px;
}

footer nav {
    display: block;
    padding-top: 20px;
    width: 700px;
    margin: 0 auto;
    /*position: static;*/
}

footer li {
    display: inline;
}


footer nav li a {
    margin-left: 60px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}

footer nav li a:hover {
    color: grey;
}